<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <!-- <h4>Sign up form</h4> -->
    <form method="post" action="" autocomplete="on">
        <label for="firstName">First name</label> <br>
        <input type="text" placeholder="Enter first name" name="firstName" id="firstName"> <br><br>
      
        <label for="lastName">Last name</label> <br>
        <input type="text" placeholder="Enter last name" name="lastName" id="lastName"> <br><br>

        <label for="email">Email</label><br>
        <input type="email" placeholder="Enter validate email" name="email" id="email"> <br><br>

        <label for="password">Password</label><br>
        <input type="password" placeholder="Enter password" name="password" id="password"> <br><br>
      
        <button type="submit">Register</button> 
        <a href="index.html">Back</a>
    </form>
    
</body>
</html>



  
  
  <!-- <form method="post" action="">
    <label for="sports">Name</label> 
    <input type="text" name="name" id="name"> <br><br>
  
    <label for="sports">Surname</label>
    <input type="text" name="surname" id="surname"> <br><br>
  
    <button type="submit">Submit</button>
  </form> -->